html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: "Merriweather", "OpenSans"
}


@media only screen and (max-width: 640px) {
    .desktop {
        display: none !important;
    }
}

@media only screen and (min-width: 641px) {
    .mobile {
        display: none !important;
    }
}

/*header and nav section*/
header {
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    vertical-align: middle;
    background: #2c3531;
    color: #d1e8e2;
    align-items: center;
}

#logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    height: 90%;
}
#logo h1 {
    align-items: center;
    line-height: 2rem;
    font-size: 1.25rem;
}

#logo h1 strong {
    font-weight: 900;
}

#logo h1 span {
    font-weight: lighter;
}

#logo img {
    padding-right: 0.5rem;
    height: 85%;
    filter: invert(1);
}


nav ul {
    display: flex;
    justify-content: space-between;

}


header nav a {
    color: #d1e8e2;
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    transition-property: color;
    transition-duration: 1s;
}

header nav a:hover {
    color: #87b5a1;
}

header #navM a {
    color: #d1e8e2;
    justify-content: space-between;
    padding: 0 2rem 0 1rem;
    filter: invert(1);
}

/*Banner section*/
#Everyday {
    display: inline-flex;
    width: 100%;
    margin-top: 4rem;
    background-color: #fff7ef;
}

#Everyday img {
    width: 60%;
    padding: 2rem 1.5rem;
}

#Everyday .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    text-align: left;
    padding-right: 2rem;
    font-family: "Open Sans";
}

#Everyday h1 {
    font-weight: bolder;
    padding-bottom: 1.5rem;
    font-size: 2.5rem;
}

#Everyday .text h2 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

#Everyday button {
    width: 100%;
    font-family: "Open Sans";
    font-size: 1.25rem;
    border: none;
    background-color: #2C3531;
    color: #D1E8E2;
    border-radius: 5px;
    padding: 0.5rem 0;
}

@media only screen and (max-width: 640px) {
    #Everyday img {
        width: 100%;
        padding: 0;
    }

    #Everyday {
        display: flex;
        flex-direction: column;
    }

    #Everyday .text {
        width: 100%;
        text-align: left;
        padding: 0 1rem 0 1rem;
    }

    #Everyday button {
        padding-right: 1rem;
        width: 100%;
    }
}

/*Information section*/

#inline {
    display: flex;
    align-items: stretch;
    width: 100%;
    gap: 1.5rem;
    padding: 1rem 0 2rem 0;;
}

#information {
    width: 60%;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
}

#information img {
    width: 100%;
    padding-top: 1rem;
    padding-right: 1.5rem;
}

#information h1, #information p {
    width: 95%
}

#information .title, #quote {
    padding-top: 1.5rem;
}

#quote-author {
    padding: 2rem 0;
}

/* need to add dividing lines and background colours
Side information links*/

#side_links, #sidelink1 {
    width: 40%;
    padding-left: 1rem;
}

#side_links .Small_Info, #sidelink1 .Small_Info {
    padding: 0.5rem 0;
}

.sidelink {
    display: flex;
    padding: 1rem;

}

.sidelink img {
    width: 35%;
    height: auto;
}

.sidelink .sideinfo {
    text-align: left;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    padding-left: 1rem;
}

@media only screen and (max-width: 640px) {
    #inline {
        padding: 0;
    }

    #side_links {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .sidelink img {
        width: 100%;
    }

    .sidelink {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .sidelink .sideinfo {
        padding: 2rem 1rem;
        line-height: 1.5rem;
}
}

/*courses section*/
#start_learning {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    padding: 2rem 0;
    font-weight: bolder;
    font-size: 3rem;
}

#courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4.5rem 2rem 4.5rem;
    width: 100%;
    gap: 2rem;
}

@media only screen and (max-width: 640px) {
    #start_learning_mob {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 0 1rem 2rem 1rem;
    }

    #start_learning_mob .title {
        padding-bottom: 1rem;;
    }

    #start_learning_mob button {
        width: 100%;
        padding: 1rem;
        border: none;
        text-align: left;
        }
    }

/* background colour for courses and for container needed ,*/

#courses .course {
    flex: 0 1 calc((100% - 4rem) / 3); /* Ensure three items per row */
    max-width: calc((100% - 4rem) / 3); /* Prevent items from growing too large */
    display: flex;
    flex-direction: column;
}

#courses .course h2 {
    padding: 1rem;
}

#courses .course p {
    padding: 0.5rem 1rem 1.5rem 1rem;;
    line-height: 1.5rem;
}

/*thesis exhibit section*/

#thesiscontent {
    display: flex;
    width: 100%;
}

#thesis .title {
    width: 100%;
    text-align: center;
}

#video {
    width: 60%;
    padding-left: 1.5rem;
}

#video .Small_Title {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

#video .video_quote {
    padding-bottom: 2rem;

}

@media only screen and (max-width: 640px) {
    #thesiscontent h2, #thesiscontent p {
        display: none;
    }

    #video {
        width: 100%;
        padding: 0;
    }

    #thesis {
        padding-bottom: 1.5rem;
    }
}

/*footer section*/
footer {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 1.5rem;
    width: 100%;
    max-width: 100%;
    box-sizing:border-box;
}

#footer_nav ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0;
    overflow: hidden;
}

#footer_nav a {
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    color: black;
}

